
.freigthScaleContainer {
  width: 100%;
  padding: 10px 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.freigthScaleContainer span {
  font-size: 14px;
}
.sliderContainer {
  background-color: #ffffff;
  border: 1px solid #e2d6d1;
  border-radius: 5px;
  height: 10px;
  margin: 10px 0;
}
.barContainer {
  border-radius: 5px;
  background:blue;
  height: 10px;
  transition: width 1s;
}

.sliderText {
  text-align: center;
  font-size: 14px;
}
.text0{
  color:black;
}
.text1{
  color: black;
}
.text2{
  color: black;
  font-weight: bold;
}
.text3{
  color: black;
}
.text4{
  font-weight:bold;
  text-align:center;
}
.currencyText{
  font-size: 14px;
  font-weight: bold;
  
}